.home-recipes-container {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  padding-top: 80px;
}
.home-skelton-row {
  gap: 20px;
}
@media (max-width: 767px) {
  .home-recipes-container {
    padding-top: 60px;
  }
}
