.recipe-card-container {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  flex: 1;
}
.recipe-card {
  height: 350px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  margin: 5px;
}
.recipe-card-img-top {
  height: 200px;
  object-fit: cover;
  cursor: pointer;
}
.recipe-card-body {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
}
.recipe-card-title {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  cursor: pointer;
}
.recipe-card-text {
  font-size: 0.875rem;
  color: #6c757d;
  margin-bottom: 10px;
  text-align: center;
}
.recipe-card-bottom-content {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.recipe-card-quantity-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #495057;
  border-radius: 8px;
  width: 85px;
  height: 30px;
}
button {
  width: 30px;
  height: 30px;
  font-size: 1.25rem;
  padding: 0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: white;
}
button:hover,
button:focus {
  background-color: #212529;
  color: white;
  border-color: #212529;
}
.recipe-card-quantity-display {
  font-size: 1rem;
  font-weight: bold;
  color: white;
}
.recipe-card-btn-add-to-cart {
  background-color: #343a40;
  color: white;
  font-size: 0.875rem;
  padding: 8px 16px;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.recipe-card-btn-add-to-cart i {
  margin-right: 5px;
}
.recipe-card-btn-add-to-cart:hover,
.recipe-card-btn-add-to-cart:focus {
  background-color: #212529;
}
.recipe-card-btn-add-to-cart .recipe-card-quantity-container {
  display: none;
}
@media (max-width: 767px) {
  .recipe-card {
    width: 100%;
    max-width: 350px;
  }
}
.recipe-card-rating {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.rating-box {
  background-color: #28a745;
  display: flex;
  align-items: center;
  padding: 2px 8px 2px 6px;
  border-radius: 2px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 120px;
  overflow: hidden;
  white-space: nowrap;
}
.rating-star {
  color: gold;
  margin-right: 2px;
  font-size: 16px;
}
.rating-text {
  color: white !important;
  font-size: 14px !important;
  font-weight: bold;
  text-overflow: ellipsis;
}
